.btn {
    display:inline-block;outline:none;white-space:nowrap;padding:0.9em 2em;border-radius:@s-br;font-weight:normal;background:transparent;cursor:pointer;line-height:1.25em;text-decoration:none;text-align:center;font-size:@s;border:none;position:relative;
    &.__grayBorder {
        border:1px solid @c-gray__1;color:@c-black;background:@c-white;
        &:hover, &:focus, &:active {background:@c-gray__1}
    }
    &.__gray {
        border:1px solid @c-gray__1;background:@c-gray__1;color:@c-black;
        &:hover, &:focus, &:active {background:darken(@c-gray__1, 5%)}
    }
    &.__grayGradient {
        border:none;.gradient(linear; @c-gray__2, @c-gray__1);box-shadow: 0 2px 2px 0 @c-gray__4, 0 2px 2px 0 @c-gray__4;color:@c-black;
        &:hover, &:focus {.gradient(linear; @c-gray__3, @c-gray__3);box-shadow: 0 2px 2px 0 @c-gray__4, 0 2px 2px 0 @c-gray__4}
        &:active {.gradient(linear; @c-gray__1, @c-gray__2);box-shadow:inset 0 2px 2px 0 @c-gray__4, inset 0 2px 2px 0 @c-gray__4}
    }
    &.__blackBorder {
        border:1px solid @c-black;color:@c-black;background:@c-gray__1;
        &:hover, &:focus, &:active {background:@c-gray__0}
    }
    &.__black {
        border:1px solid @c-black;background:@c-black;color:@c-white;
        &:hover, &:focus, &:active {background:lighten(@c-black, 5%)}
    }
    &.__blackGradient {
        border:none;.gradient(linear; @c-black, lighten(@c-black, 10%));box-shadow: 0 2px 2px 0 lighten(@c-black, 5%), 0 2px 2px 0 lighten(@c-black, 5%);color:@c-white;
        &:hover, &:focus {.gradient(linear; lighten(@c-black, 5%), lighten(@c-black, 10%));box-shadow: 0 2px 2px 0 lighten(@c-black, 5%), 0 2px 2px 0 lighten(@c-black, 5%)}
        &:active {.gradient(linear; lighten(@c-black, 10%), @c-black);box-shadow:inset 0 2px 2px 0 lighten(@c-black, 5%), inset 0 2px 2px 0 lighten(@c-black, 5%)}
    }
    &.__whiteBorder {
        border:1px solid @c-white;color:@c-black;background:@c-white;
        &:hover, &:focus, &:active {background:@c-gray__1}
    }
    &.__white {
        border:1px solid @c-white;background:@c-white;color:@c-black;
        &:hover, &:focus, &:active {background:darken(@c-white, 5%)}
    }
    &.__whiteGradient {
        border:none;.gradient(linear; darken(@c-white, 5%), darken(@c-white, 10%));box-shadow: 0 2px 2px 0 darken(@c-white, 5%), 0 2px 2px 0 darken(@c-white, 5%);color:@c-black;
        &:hover, &:focus {.gradient(linear; darken(@c-white, 10%), darken(@c-white, 15%));box-shadow: 0 2px 2px 0 darken(@c-white, 5%), 0 2px 2px 0 darken(@c-white, 5%)}
        &:active {.gradient(linear; darken(@c-white, 10%), darken(@c-white, 5%));box-shadow:inset 0 2px 2px 0 darken(@c-white, 5%), inset 0 2px 2px 0 darken(@c-white, 5%)}
    }
    &.__azureBorder {
        border:1px solid @c-azure;color:@c-azure;background:@c-white;
        &:hover, &:focus, &:active {background:lighten(@c-azure, 20%);color:@c-white}
    }
    &.__azure {
        border:1px solid @c-azure;background:@c-azure;color:@c-white;
        &:hover, &:focus, &:active {background:darken(@c-azure, 5%)}
    }
    &.__azureGradient {
        border:none;.gradient(linear; #1ea8f9, #7cd3fc);box-shadow: 0 2px 2px 0 #1c90d4, 0 2px 2px 0 #1c90d4;color:@c-white;
        &:hover, &:focus {.gradient(linear; #1f98ff, #80cafa);box-shadow: 0 2px 2px 0 #1c90d4, 0 2px 2px 0 #1c90d4}
        &:active {.gradient(linear; #7cd3fc, #1ea8f9);box-shadow:inset 0 2px 2px 0 #1c90d4, inset 0 2px 2px 0 #1c90d4}
    }
    &.__goldBorder {
        border:1px solid @c-gold;color:@c-gold;
        &:hover, &:focus, &:active {background:lighten(@c-gold, 20%);color:@c-black}
    }
    &.__gold {
        background:@c-gold;color:@c-black;border:1px solid @c-gold;
        &:hover, &:focus, &:active {background:darken(@c-gold, 5%);color:@c-white}
    }
    &.__goldGradient {
        border:none;.gradient(linear; #f9cd1e, #fce17c);box-shadow: 0 2px 2px 0 #d4ae1c, 0 2px 2px 0 #d4ae1c;color:@c-black;
        &:hover, &:focus {.gradient(linear; #ffd41f, #fffc96);box-shadow: 0 2px 2px 0 #d4ae1c, 0 2px 2px 0 #d4ae1c}
        &:active {.gradient(linear; #fce17c, #f9cd1e);box-shadow:inset 0 2px 2px 0 #d4ae1c, inset 0 2px 2px 0 #d4ae1c}
    }
    &.__redBorder {
        border:1px solid @c-red;color:@c-red;background:@c-white;
        &:hover, &:focus, &:active {background:@c-gray__0}
    }
    &.__red {
        border:1px solid @c-red;background:@c-red;color:@c-white;
        &:hover, &:focus, &:active {background:lighten(@c-red, 5%)}
    }
    &.__redGradient {
        .gradient(linear; @c-red, lighten(@c-red, 10%));box-shadow: 0 2px 2px 0 lighten(@c-red, 5%), 0 2px 2px 0 lighten(@c-red, 5%);color:@c-white;border:none;
        &:hover, &:focus {.gradient(linear; lighten(@c-red, 5%), lighten(@c-red, 10%));box-shadow: 0 2px 2px 0 lighten(@c-red, 5%), 0 2px 2px 0 lighten(@c-red, 5%)}
        &:active {.gradient(linear; lighten(@c-red, 10%), @c-red);box-shadow:inset 0 2px 2px 0 lighten(@c-red, 5%), inset 0 2px 2px 0 lighten(@c-red, 5%)}
    }
    &.__greenBorder {
        border:1px solid @c-green;color:@c-green;background:@c-white;
        &:hover, &:focus, &:active {background:@c-gray__0}
    }
    &.__green {
        border:1px solid @c-green;background:@c-green;color:@c-white;
        &:hover, &:focus, &:active {background:lighten(@c-green, 5%)}
    }
    &.__greenGradient {
        .gradient(linear; @c-green, lighten(@c-green, 10%));box-shadow: 0 2px 2px 0 lighten(@c-green, 5%), 0 2px 2px 0 lighten(@c-green, 5%);color:@c-white;border:none;
        &:hover, &:focus {.gradient(linear; lighten(@c-green, 5%), lighten(@c-green, 10%));box-shadow: 0 2px 2px 0 lighten(@c-green, 5%), 0 2px 2px 0 lighten(@c-green, 5%)}
        &:active {.gradient(linear; lighten(@c-green, 10%), @c-green);box-shadow:inset 0 2px 2px 0 lighten(@c-green, 5%), inset 0 2px 2px 0 lighten(@c-green, 5%)}
    }
    &.__grayBorder, &.__gray, &.__blackBorder, &.__black, &.__whiteBorder, &.__white, &.__goldBorder, &.__gold, &.__redBorder, &.__red, &.__greenBorder, &.__green {
        &.__active {background:lighten(@c-azure, 50%);border-color:@c-azure;color:@c-azure;z-index:1}
    }
    &.__map {background:@c-red;color:@c-white}
    &.__xs {font-size:0.9em}
    &.__sm {font-size:1.1em}
    &.__md {font-size:1.2em}
    &.__lg {font-size:1.3em}
    &.__block {display:block;width:100%}
    &.__underline {text-decoration:underline;border:none;background:transparent;text-align:center}
    &.__invalidate {border:none;background:transparent;text-align:center}
    &:hover, &:active, &:focus {text-decoration:none}
}

.btnGroup {
    list-style:none;margin:0;padding:0;display:flex;flex-wrap:nowrap;
    > li {
        display:block;flex:auto;
        > .btn {display:block;border-radius:0;width:100%}
    }
    &:not(.__vertical) {
        flex-direction:row;align-items:center;overflow:auto;
        > li {
            &, > .btn {height:100%}
            &:not(:nth-last-child(1)) {margin-right:-1px}
            &:nth-child(1) > .btn {border-radius:@s-br 0 0 @s-br}
            &:nth-last-child(1) > .btn {border-radius:0 @s-br @s-br 0}
        }
    }
    &.__vertical {
        flex-direction:column;
        > li {
            &:nth-child(1) > .btn {border-radius:@s-br @s-br 0 0}
            &:nth-last-child(1) > .btn {border-radius:0 0 @s-br @s-br}
        }
    }
}