.row {
	display:flex;display:-ms-flexbox;flex-wrap:wrap;-ms-flex-wrap:wrap;
}
.row, .fake_row {
	margin-right:-@s-bs;margin-left:-@s-bs;
	.make_mods() {
		&.__zero {margin-left:0;margin-right:0}
		&.__half {margin-left:-@s-bs*0.5;margin-right:-@s-bs*0.5}
		&.__double {margin-left:-@s-bs*2;margin-right:-@s-bs*2}
		&.__trible {margin-left:-@s-bs*3;margin-right:-@s-bs*3}
		&.__quantiple {margin-left:-@s-bs*4;margin-right:-@s-bs*4}
		.iter(length(@media_sizes));
		.iter(@i) when (@i > 0) {
			.iter(@i - 1);
			@pair:  extract(@media_sizes, @i);
			@key:   extract(@pair, 1);
			@val: 	extract(@pair, 2);
			@media(min-width:@val){
				&.__zero-from-@{key} {margin-left:0;margin-right:0}
				&.__half-from-@{key} {margin-left:-@s-bs*0.5;margin-right:-@s-bs*0.5}
				&.__normal-from-@{key} {margin-left:-@s-bs;margin-right:-@s-bs}
				&.__double-from-@{key} {margin-left:-@s-bs*2;margin-right:-@s-bs*2}
				&.__trible-from-@{key} {margin-left:-@s-bs*3;margin-right:-@s-bs*3}
				&.__quantiple-from-@{key} {margin-left:-@s-bs*4;margin-right:-@s-bs*4}
			}
			@media(max-width:(@val - 1)){
				&.__zero-till-@{key} {margin-left:0;margin-right:0}
				&.__half-till-@{key} {margin-left:-@s-bs*0.5;margin-right:-@s-bs*0.5}
				&.__normal-till-@{key} {margin-left:-@s-bs;margin-right:-@s-bs}
				&.__double-till-@{key} {margin-left:-@s-bs*2;margin-right:-@s-bs*2}
				&.__trible-till-@{key} {margin-left:-@s-bs*3;margin-right:-@s-bs*3}
				&.__quantiple-till-@{key} {margin-left:-@s-bs*4;margin-right:-@s-bs*4}
			}
		}
	}
	.make_mods();
}

[class*='col-'] {
	-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;
}
.col_order_loop(@total, @count:@total, @media) when (@count > 0) {
	.col-@{media}-order-@{count} {order:@count}
	.col_order_loop(@total, @count - 1, @media);
}
.col_loop(@total, @count:@total, @media){
	.col_loop_capt(@total, @count, @media);
	.col_order_loop(@total, @total, @media);
}
.col_loop_capt(@total, @count:@total, @media) when (@count > 0){
	@width: (100% / @total * @count);
	.col-@{media}-@{count} {padding-right:@s-bs;padding-left:@s-bs;flex-basis:@width;width:@width;max-width:@width;flex:0 0 @width;}
	.col_loop_capt(@total, @count - 1, @media);
}
[class*='col-'] {
	.make_mods() {
		&.__zero {padding-left:0;padding-right:0}
		&.__half {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
		&.__double {padding-left:@s-bs*2;padding-right:@s-bs*2}
		&.__trible {padding-left:@s-bs*3;padding-right:@s-bs*3}
		&.__quantiple {padding-left:@s-bs*4;padding-right:@s-bs*4}
		.iter(length(@media_sizes));
		.iter(@i) when (@i > 0) {
			.iter(@i - 1);
			@pair:  extract(@media_sizes, @i);
			@key:   extract(@pair, 1);
			@val: 	extract(@pair, 2);
			@media(min-width:@val){
				&.__zero-from-@{key} {padding-left:0;padding-right:0}
				&.__half-from-@{key} {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
				&.__normal-from-@{key} {padding-left:@s-bs;padding-right:@s-bs}
				&.__double-from-@{key} {padding-left:@s-bs*2;padding-right:@s-bs*2}
				&.__trible-from-@{key} {padding-left:@s-bs*3;padding-right:@s-bs*3}
				&.__quantiple-from-@{key} {padding-left:@s-bs*4;padding-right:@s-bs*4}
			}
			@media(max-width:(@val - 1)){
				&.__zero-till-@{key} {padding-left:0;padding-right:0}
				&.__half-till-@{key} {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
				&.__normal-till-@{key} {padding-left:@s-bs;padding-right:@s-bs}
				&.__double-till-@{key} {padding-left:@s-bs*2;padding-right:@s-bs*2}
				&.__trible-till-@{key} {padding-left:@s-bs*3;padding-right:@s-bs*3}
				&.__quantiple-till-@{key} {padding-left:@s-bs*4;padding-right:@s-bs*4}
			}
		}
	}
	.make_mods();
}

.container {
	margin:0 auto;max-width:@s-xl + (@s-bs*2);
	@media @sm-before {
		&.__full_width_on-xs {max-width:100%}
	}
	@media @sm-after and @md-before {
		&.__full_width_on-sm {max-width:100%}
	}
	@media @md-after and @lg-before {
		&.__full_width_on-md {max-width:100%}
	}
	@media @lg-after and @xl-before {
		&.__full_width_on-lg {max-width:100%}
	}
	@media @xl-after {
		&.__full_width_on-xl {max-width:100%}
	}
}

.make_grid(@list) {
	.iter(length(@list));
	.iter(@i) when (@i > 0) {
		.iter(@i - 1);
		@pair:  extract(@list, @i);
		@key:   extract(@pair, 1);
		@val: 	extract(@pair, 2);
		& when (@key=xs) {
			.col_loop(@grid, @grid, @key);
		}
		& when (@key=sm) {
			@media(min-width:@val){
				.col_loop(@grid, @grid, @key);
			}
		}
		& when (@key=md) {
			@media(min-width:@val){
				.col_loop(@grid, @grid, @key);
			}
		}
		& when (@key=lg) {
			@media(min-width:@val){
			}
		}
		& when (@key=xl) {
			@media(min-width:@val){
				.col_loop(@grid, @grid, @key);
			}
		}
	}
}
.make_grid(@media_sizes);

.vcf {
	padding-top:@s-bs;padding-bottom:@s-bs;
	.make_mods() {
		&.__zero {padding-top:0;padding-bottom:0}
		&.__half {padding-top:@s-bs*0.5;padding-bottom:@s-bs*0.5}
		&.__double {padding-top:@s-bs*2;padding-bottom:@s-bs*2}
		&.__trible {padding-top:@s-bs*3;padding-bottom:@s-bs*3}
		&.__quantiple {padding-top:@s-bs*4;padding-bottom:@s-bs*4}
		.iter(length(@media_sizes));
		.iter(@i) when (@i > 0) {
			.iter(@i - 1);
			@pair:  extract(@media_sizes, @i);
			@key:   extract(@pair, 1);
			@val: 	extract(@pair, 2);
			@media(min-width:@val){
				&.__zero-from-@{key} {padding-top:0;padding-bottom:0}
				&.__half-from-@{key} {padding-top:@s-bs*0.5;padding-bottom:@s-bs*0.5}
				&.__normal-from-@{key} {padding-top:@s-bs;padding-bottom:@s-bs}
				&.__double-from-@{key} {padding-top:@s-bs*2;padding-bottom:@s-bs*2}
				&.__trible-from-@{key} {padding-top:@s-bs*3;padding-bottom:@s-bs*3}
				&.__quantiple-from-@{key} {padding-top:@s-bs*4;padding-bottom:@s-bs*4}
			}
			@media(max-width:(@val - 1)){
				&.__zero-till-@{key} {padding-top:0;padding-bottom:0}
				&.__half-till-@{key} {padding-top:@s-bs*0.5;padding-bottom:@s-bs*0.5}
				&.__normal-till-@{key} {padding-top:@s-bs;padding-bottom:@s-bs}
				&.__double-till-@{key} {padding-top:@s-bs*2;padding-bottom:@s-bs*2}
				&.__trible-till-@{key} {padding-top:@s-bs*3;padding-bottom:@s-bs*3}
				&.__quantiple-till-@{key} {padding-top:@s-bs*4;padding-bottom:@s-bs*4}
			}
		}
	}
	.make_mods();
}
.container-fluid, .container {
	padding-left:@s-bs;padding-right:@s-bs;
	.make_mods() {
		&.__zero {padding-left:0;padding-right:0}
		&.__half {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
		&.__double {padding-left:@s-bs*2;padding-right:@s-bs*2}
		&.__trible {padding-left:@s-bs*3;padding-right:@s-bs*3}
		&.__quantiple {padding-left:@s-bs*4;padding-right:@s-bs*4}
		.iter(length(@media_sizes));
		.iter(@i) when (@i > 0) {
			.iter(@i - 1);
			@pair:  extract(@media_sizes, @i);
			@key:   extract(@pair, 1);
			@val: 	extract(@pair, 2);
			@media(min-width:@val){
				&.__zero-from-@{key} {padding-left:0;padding-right:0}
				&.__half-from-@{key} {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
				&.__normal-from-@{key} {padding-left:@s-bs;padding-right:@s-bs}
				&.__double-from-@{key} {padding-left:@s-bs*2;padding-right:@s-bs*2}
				&.__trible-from-@{key} {padding-left:@s-bs*3;padding-right:@s-bs*3}
				&.__quantiple-from-@{key} {padding-left:@s-bs*4;padding-right:@s-bs*4}
			}
			@media(max-width:(@val - 1)){
				&.__zero-till-@{key} {padding-left:0;padding-right:0}
				&.__half-till-@{key} {padding-left:@s-bs*0.5;padding-right:@s-bs*0.5}
				&.__normal-till-@{key} {padding-left:@s-bs;padding-right:@s-bs}
				&.__double-till-@{key} {padding-left:@s-bs*2;padding-right:@s-bs*2}
				&.__trible-till-@{key} {padding-left:@s-bs*3;padding-right:@s-bs*3}
				&.__quantiple-till-@{key} {padding-left:@s-bs*4;padding-right:@s-bs*4}
			}
		}
	}
	.make_mods();
}

.verticalized {
	display:flex;align-items:center;justify-content:center;
	> * {width:100%}
	.verticalized__top, .verticalized__start {align-self:flex-start}
	.verticalized__bottom, .verticalized__end {align-self:flex-end}
}