.headerMenu {
	a {text-decoration:none;color:@c-black;display:block;.no-wrap();cursor:pointer}
	&__nav, &__menu {}
	&__nav {}
	&__menu {
		.ulDisable(0 -@s-bs);
		> li {
			&, > a, > button {}
		}
	}
	&__item {
		padding:0.65em @s-bs;font-weight:500;
		&:before {color:@c-gray__5;margin-right:0.75em;display:inline-block;.i();font-size:1.2em;position:relative;top:0.05em}
		&.__sapper:before {content:@i-mine}
		&.__sudoku:before {content:@i-grid}
		&.__worm:before {content:@i-gumroad}
		&.__zerox:before {content:@i-x-pack}
		&.__warships:before {content:@i-directions_boat}
		&.__todolist:before {content:@i-tasks}
		&:hover:before {color:@c-azure}
	}
	&__langs {
		list-style:none;margin:0;display:flex;padding:0;
		&:before {content:@i-earth;.i();font-size:2em;margin-right:0.25em}
		> li {
			&:not(:nth-child(1)) {border-left:1px solid @c-gray__1}
			> a, > button {padding:@s-bs*0.5 @s-bs}
		}
	}
	a, button {cursor:pointer;background:transparent;border:none;display:block;width:100%;margin:0;text-align:left}
	&__link {padding:@s-bs 0}
}

.CallBackModal {
	text-align:center;
	&__phone {
		font-weight:100;font-size:1.3em;margin-bottom:0.5em;display:block;color:@c-black;text-decoration:none;
	}
}