@i-bookmark: "\e900";
@i-mail: "\e901";
@i-move-horizontal-alt1: "\e90d";
@i-hash: "\e902";
@i-spinner8: "\e981";
@i-earth: "\e9ca";
@i-warning: "\ea07";
@i-notification: "\ea08";
@i-question: "\ea09";
@i-play2: "\ea15";
@i-pause: "\ea16";
@i-stop: "\ea17";
@i-previous: "\ea18";
@i-next: "\ea19";
@i-backward: "\ea1a";
@i-forward2: "\ea1b";
@i-checkbox-checked: "\ea52";
@i-checkbox-unchecked: "\ea53";
@i-radio-checked: "\ea54";
@i-radio-unchecked: "\ea56";
@i-floppy: "\e90e";
@i-mine: "\e903";
@i-control_point: "\e3ba";
@i-cloud_upload: "\e2c3";
@i-cached: "\e86a";
@i-comment: "\e0b9";
@i-delete_forever: "\e92b";
@i-directions_boat: "\e532";
@i-sentiment_dissatisfied: "\e811";
@i-sentiment_neutral: "\e812";
@i-sentiment_satisfied: "\e813";
@i-textsms: "\e0d8";
@i-view_quilt: "\e8f1";
@i-watch_later: "\e924";
@i-th-menu: "\e904";
@i-grid: "\e905";
@i-tag: "\e90f";
@i-calendar: "\e906";
@i-cancel: "\e907";
@i-cancel1: "\e908";
@i-gamepad: "\e909";
@i-info: "\e90a";
@i-switch: "\e910";
@i-star: "\f005";
@i-star-o: "\f006";
@i-trophy: "\f091";
@i-phone: "\f095";
@i-tasks: "\f0ae";
@i-angle-left: "\f104";
@i-angle-right: "\f105";
@i-angle-up: "\f106";
@i-angle-down: "\f107";
@i-star-half-empty: "\f123";
@i-star-half-full: "\f123";
@i-star-half-o: "\f123";
@i-gumroad: "\e90b";
@i-x-pack: "\e90c";

