.afters(@c:'') {content:@c;display:block;clear:both}
.filter(@filt) {filter:@filt}
.icons(@bg, @position:center, @size:contain, @color:transparent) {background:data-uri('image/svg+xml;charset=UTF-8', @bg)no-repeat @position @color;background-size:@size;}
.icons_i(@bg, @position:center, @size:contain, @color:transparent) {background:url(@bg)no-repeat @position @color;background-size:@size;}
.transform(@do) {transform:@do;}
.text-shadow(@x: 1px, @y: 1px, @radius: 2px, @color: #000){text-shadow: @arguments;}
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {.gradient(@type; @colors; @dir; @prefixes; (@index - 1));@prefix  : extract(@prefixes, @index);@dir-old : 90 - (@dir);background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";& when ( @index = length(@prefixes) ) {background-image: ~"@{type}-gradient(@{dir}, @{colors})";}}
.ulDisable(@m:0;@p:0) {margin:@m;padding:@p;list-style:none;}
.keyframes(@name; @arguments) {@keyframes @name { @arguments(); }}
.animation(@arguments) {animation: @arguments;}
.transition(@par:all 0.5s) {transition:@par}
.awesome(){font-family:'FontAwesome';text-rendering:auto}
.transform-origin(@v:100% 0) {transform-origin:@v;}
.zoom(@v) {zoom:@v}
.box-sizing(@box-sizing) {box-sizing: @box-sizing;}
.transition-property(@transition) {transition-property: @transition;}
.transition-duration(@duration) {transition-duration: @duration;}
.transition-timing-function(@timing){transition-timing-function: @timing;}
.positionTRBL(@t:0;@r:0;@b:0;@l:0;@p:absolute){position:@p;top:@t;left:@l;bottom:@b;right:@r;}
.hiddenInput() {width:0px;height:0px;opacity:0;position:absolute;padding:0;margin:0;border:none;background:transparent;color:transparent}
.no-select() {user-select:none}
.i() {font-family:'icons'!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.i__logo() {content:@i-gamepad}
.no-wrap() {white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

.make_icons() {
	.iter(length(@icons));
	.iter(@i) when (@i > 0) {
		.iter(@i - 1);
		@pair:  extract(@icons, @i);
		@key:   extract(@pair, 1);
		@val:   extract(@pair, 2);
		&.__@{key}:before {content:@val}
	}
}