@import './_iconVariables.less';

@c-black: #333;
@c-white: #fff;

@c-warm-grey: #9e9e9e;
@c-gray-1: @c-warm-grey;
@c-warm-grey-two: @c-warm-grey;
@c-gray-3: @c-warm-grey-two;
@c-pinkish-grey: #707070;
@c-gray-2: @c-pinkish-grey;
@c-gray-4: #f5f5f5;
@c-gray-5: #d0d0d0;
@c-gray-6: #fafafa;
@c-gray-7: #c7c7c7;
@c-gray-8: #A9A9A9;
@c-gray-9: #F8F8F8;
@c-gray__0: #f3f3f3;
@c-gray__1: #e6e6e6;
@c-gray__2: #bfbfbf;
@c-gray__3: #bbbbbb;
@c-gray__4: #a2a2a2;
@c-gray__5: #797979;
@c-gold: #ffb500;
@c-red: #ee2316;
@c-vermillion:@c-red;
@c-azure: #00aeef;
@c-green: #62bb00;
@c-yellow-orange:#ffbe00;
@c-green-e:#00ce1c;
@c-green-1:#22cb3a;
@c-pink: #ee2080;
@c-darkers:fade(@c-black, 85%);
@s-bs: 12px;
@s-br: 3px;
@s: 14px;

@s-xs: 320px;
@s-sm: 576px;
@s-md: 968px;
@s-lg: 1200px;
@s-xl: 1366px;
@media_sizes:
	xs @s-xs,
	sm @s-sm,
	md @s-md,
	lg @s-lg,
	xl @s-xl;

@grid: 12;

@xs-before: ~'(max-width:'(@s-xs - 1)~')';
@xs-after: ~'(min-width:'@s-xs~')';
@sm-before: ~'(max-width:'(@s-sm - 1)~')';
@sm-after: ~'(min-width:'@s-sm~')';
@md-before: ~'(max-width:'(@s-md - 1)~')';
@md-after: ~'(min-width:'@s-md~')';
@lg-before: ~'(max-width:'(@s-lg - 1)~')';
@lg-after: ~'(min-width:'@s-lg~')';
@xl-before: ~'(max-width:'(@s-xl - 1)~')';
@xl-after: ~'(min-width:'@s-xl~')';

