.formControl {
  display: flex;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  color: #333;
}
.formControl,
.formControl:hover {
  text-decoration: none;
}
.formControl > input,
.formControl > select,
.formControl > textarea {
  font-size: inherit;
  order: 3;
  position: relative;
  z-index: 1;
  font-family: 'Roboto';
  width: 100%;
  padding: 0.75em 2.85em 0.75em 1.25em;
  background: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 0;
  max-width: 100%;
  outline: none;
}
.formControl > input:-internal-autofill-previewed,
.formControl > select:-internal-autofill-previewed,
.formControl > textarea:-internal-autofill-previewed,
.formControl > input:-internal-autofill-selected,
.formControl > select:-internal-autofill-selected,
.formControl > textarea:-internal-autofill-selected {
  background: #fff !important;
}
.formControl > input:hover,
.formControl > select:hover,
.formControl > textarea:hover,
.formControl > input:focus,
.formControl > select:focus,
.formControl > textarea:focus,
.formControl > input:active,
.formControl > select:active,
.formControl > textarea:active {
  border-color: #00aeef;
}
.formControl > select {
  cursor: pointer;
}
.formControl > input[type="radio"],
.formControl > input[type="checkbox"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: transparent;
}
.formControl > input[type="color"] {
  height: 2.85em;
}
.formControl > select,
.formControl input[type="date"],
.formControl input[type="number"],
.formControl input[type="datetime-local"],
.formControl input[type="month"],
.formControl input[type="time"],
.formControl input[type="week"] {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.formControl > select::-ms-expand,
.formControl input[type="date"]::-ms-expand,
.formControl input[type="number"]::-ms-expand,
.formControl input[type="datetime-local"]::-ms-expand,
.formControl input[type="month"]::-ms-expand,
.formControl input[type="time"]::-ms-expand,
.formControl input[type="week"]::-ms-expand {
  display: none !important;
}
.formControl input[type=file] {
  opacity: 0;
}
.formControl input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formControl input[type=range]::-ms-expand {
  display: none;
}
.formControl input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: none;
  background: #00aeef;
  border-radius: 25px;
  border: none;
}
.formControl input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffb500;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.8px;
}
.formControl input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00aeef;
}
.formControl input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: none;
  background: #00aeef;
  border-radius: 25px;
  border: none;
}
.formControl input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffb500;
  cursor: pointer;
}
.formControl input[type=range]::-ms-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.formControl input[type=range]::-ms-fill-lower {
  background: #333;
  border: none;
  border-radius: 50px;
  box-shadow: none;
}
.formControl input[type=range]::-ms-fill-upper {
  background: #00aeef;
  border: none;
  border-radius: 50px;
  box-shadow: none;
}
.formControl input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ffb500;
  cursor: pointer;
  height: 2.4px;
}
.formControl input[type=range]:focus::-ms-fill-lower {
  background: #00aeef;
}
.formControl input[type=range]:focus::-ms-fill-upper {
  background: #00aeef;
}
.formControl > textarea {
  min-height: 6em;
}
.formControl__label {
  flex: auto;
  display: flex;
  order: 3;
  line-height: 1.2em;
}
.formControl__label > img {
  height: 1.5em;
  margin-top: -0.1em;
  margin-right: 0.5em;
}
.formControl__label + input,
.formControl__label textarea,
.formControl__label select {
  width: 220px;
  margin-left: 1em;
}
.formControl__badge {
  order: 4;
  color: #bbbbbb;
  white-space: nowrap;
  position: relative;
}
.formControl__badge__helper {
  font-size: 0.85em;
  color: #333;
  padding: 0.25em 0.75em;
}
@media (min-width: 1200px ) {
  .formControl__badge__helper {
    z-index: 30;
    margin-left: 0.75em;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-radius: 3px;
    background: #fff;
    filter: drop-shadow(0 0 3px rgba(51, 51, 51, 0.5));
  }
  .formControl__badge__helper:before {
    content: '';
    display: block;
    border-left: 0.5em solid #fff;
    border-bottom: 0.5em solid transparent;
    right: 100%;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    margin-top: -0.25em;
    margin-right: -0.25em;
  }
}
.formControl + .formControl {
  margin-top: 0.75em;
}
.formControl:after {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  order: 5;
  display: inline-block;
  position: absolute;
  right: 0.75em;
  top: 50%;
  margin-top: -0.5em;
  font-size: 1.1em;
  line-height: 1em;
  color: #797979;
}
.formControl.__text:after {
  content: "\e0b9";
}
.formControl.__email:after {
  content: "\e901";
}
.formControl.__number:after {
  content: "\e902";
}
.formControl.__date:after {
  content: "\e906";
}
.formControl.__range:after {
  content: "\e909";
}
.formControl.__radio,
.formControl.__checkbox {
  cursor: pointer;
}
.formControl.__radio:before,
.formControl.__checkbox:before {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.75em;
  color: #00aeef;
}
.formControl.__radio:after,
.formControl.__checkbox:after {
  display: none;
}
.formControl.__radio.__darked .formControl__label,
.formControl.__checkbox.__darked .formControl__label {
  font-weight: 500;
}
.formControl.__radio:hover,
.formControl.__checkbox:hover,
.formControl.__radio.__active,
.formControl.__checkbox.__active {
  color: #00aeef;
}
.formControl.__radio:before {
  line-height: 1.25em;
}
.formControl.__radio:not(.__active):before {
  content: "\ea56";
}
.formControl.__radio.__active:before {
  content: "\ea54";
}
.formControl.__checkbox:before {
  line-height: 1.25em;
}
.formControl.__checkbox:not(.__active):before {
  content: "\ea53";
}
.formControl.__checkbox.__active:before {
  content: "\ea52";
}
.formControl.__select:not(.__active):after {
  content: "\f107";
}
.formControl.__select.__active:after {
  content: "\f106";
}
.formControl.__textarea:after {
  content: "\e0b9";
}
.formControl.__password:after {
  content: "\e0d8";
}
.formControl.__color:after {
  content: "\e900";
}
.formControl.__datetime-local:after {
  content: "\e906";
}
.formControl.__file:after {
  content: "\e2c3";
}
.formControl.__image:after {
  content: "\e2c3";
}
.formControl.__month:after {
  content: "\e906";
}
.formControl.__tel:after {
  content: "\e909";
}
.formControl.__time:after {
  content: "\e924";
}
.formControl.__url:after {
  content: "\e9ca";
}
.formControl.__week:after {
  content: "\e906";
}
.formControl:not(.__radio):not(.__checkbox) .formControl__label {
  order: 1;
  padding-right: 0.5em;
  padding-top: 0.5em;
}
.formControl:not(.__radio):not(.__checkbox).__hasError {
  color: #ee2316;
}
.formControl:not(.__radio):not(.__checkbox).__hasError > input,
.formControl:not(.__radio):not(.__checkbox).__hasError > select,
.formControl:not(.__radio):not(.__checkbox).__hasError > textarea {
  border-color: #ee2316;
}
.formControl:not(.__radio):not(.__checkbox).__hasSuccess {
  color: #62bb00;
}
.formControl:not(.__radio):not(.__checkbox).__hasSuccess > input,
.formControl:not(.__radio):not(.__checkbox).__hasSuccess > select,
.formControl:not(.__radio):not(.__checkbox).__hasSuccess > textarea {
  border-color: #62bb00;
}
.formControl:not(.__radio):not(.__checkbox).__hasIcon {
  align-items: center;
}
.formControl:not(.__radio):not(.__checkbox).__hasIcon[data-icon]:before {
  content: attr(data-icon);
}
.formControl.__box {
  border-radius: 3px;
  padding: 0.75em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.formControl.__box.__half {
  width: calc(50% -  3px );
  float: left;
  margin-top: 6px;
}
.formControl.__box.__half:nth-child(2n) {
  margin-left: 6px;
}
.formControl.__box:not(.__active) {
  border: 1px solid #bfbfbf;
}
.formControl.__box.__active {
  border: 1px solid #00aeef;
}
.formControl.__box.__radio:before,
.formControl.__box.__checkbox:before {
  margin-right: 0.5em;
}
.formControl.__available {
  font-weight: 500;
}
.formControl.__xs {
  font-size: 0.85em;
}
.formControl.__sm {
  font-size: 1.2em;
}
.formControl.__md {
  font-size: 1.3em;
}
.formControl.__lg {
  font-size: 1.4em;
}
.formControl.__xl {
  font-size: 1.5em;
}
.formControl + .btn {
  margin-top: 1em;
}
.formControlRow {
  display: flex;
}
.formControlRow .formControl {
  flex: auto;
}
@media (max-width: 1199px ) {
  .formControlRow {
    flex-wrap: wrap;
  }
  .formControlRow .formControl,
  .formControlRow > .btn {
    width: 100%;
  }
}
@media (min-width: 1200px ) {
  .formControlRow .formControl + .btn {
    margin-left: 0.5em;
  }
  .formControlRow .btn {
    margin-top: 0;
  }
}
/*# sourceMappingURL=formControl.css.map */