@import './_variables.less';
@import './_mixins.less';

.formControl {
	display:flex;font-weight:normal;margin:0;padding:0;position:relative;background:@c-white;color:@c-black;
	&, &:hover {text-decoration:none}
	> input, > select, > textarea {
		font-size:inherit;order:3;position:relative;z-index:1;font-family:'Roboto';width:100%;padding:0.75em 2.85em 0.75em 1.25em;background:transparent;border:1px solid @c-gray__1;border-radius:@s-br;margin:0;max-width:100%;outline:none;
		&:-internal-autofill-previewed, &:-internal-autofill-selected {
			background:@c-white!important;
		}
		&:hover, &:focus, &:active {border-color:@c-azure}
	}
	> input, > select {
		// height:2.75em;
	}
	> select {cursor:pointer}
	> input[type="radio"], > input[type="checkbox"] {
		.hiddenInput();
	}
	> input[type="color"] {
		height:2.85em;
	}
	> select, input[type="date"], input[type="number"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
		-webkit-appearance:none!important;-moz-appearance:none!important;appearance:none!important;
		&::-ms-expand {display:none!important}
	}
	input[type=file] {
		opacity:0;
	}
	input[type=range] {
		-webkit-appearance:none;-moz-appearance:none;appearance:none;
		&::-ms-expand {display:none}
		&::-webkit-slider-runnable-track {
			width:100%;height:2.4px;cursor:pointer;box-shadow:none;background:@c-azure;border-radius:25px;border:none;
		}
		&::-webkit-slider-thumb {
			box-shadow:none;border:none;height:14px;width:14px;border-radius:7px;background:@c-gold;cursor:pointer;-webkit-appearance:none;margin-top:-5.8px;
		}
		&:focus::-webkit-slider-runnable-track {
			background:@c-azure;
		}
		&::-moz-range-track {
			width:100%;height:2.4px;cursor:pointer;box-shadow:none;background:@c-azure;border-radius:25px;border:none;
		}
		&::-moz-range-thumb {
			box-shadow:none;border:none;height:14px;width:14px;border-radius:7px;background:@c-gold;cursor:pointer;
		}
		&::-ms-track {
			width:100%;height:2.4px;cursor:pointer;background:transparent;border-color:transparent;color:transparent;
		}
		&::-ms-fill-lower {
			background:@c-black;border:none;border-radius:50px;box-shadow:none;
		}
		&::-ms-fill-upper {
			background:@c-azure;border:none;border-radius:50px;box-shadow:none;
		}
		&::-ms-thumb {
			box-shadow:none;border:none;height:14px;width:14px;border-radius:7px;background:@c-gold;cursor:pointer;height:2.4px;
		}
		&:focus::-ms-fill-lower {
			background:@c-azure;
		}
		&:focus::-ms-fill-upper {
			background:@c-azure;
		}

	}
	> textarea {min-height:6em}
	&__label {
		flex:auto;display:flex;order:3;line-height:1.2em;
		> img {height:1.5em;margin-top:-0.1em;margin-right:0.5em}
		+ input, textarea, select {width:220px;margin-left:1em}
	}
	&__badge {
		order:4;color:@c-gray__3;white-space:nowrap;position:relative;
		&__helper {
			font-size:0.85em;color:@c-black;padding:0.25em 0.75em;
			@media @lg-after {
				z-index:30;margin-left:0.75em;position:absolute;top:50%;left:100%;transform:translateY(-50%);border-radius:@s-br;background:@c-white;filter:drop-shadow(0 0 (@s-bs*0.25) fade(@c-black, 50%));
				&:before {content:'';display:block;border-left:0.5em solid @c-white;border-bottom:0.5em solid transparent;right:100%;transform:rotate(-45deg);position:absolute;top:50%;margin-top:-0.25em;margin-right:-0.25em}
			}
		}
	}
	& + & {margin-top:0.75em}
	&:after {.i();order:5;display:inline-block;position:absolute;right:0.75em;top:50%;margin-top:-0.5em;font-size:1.1em;line-height:1em;color:@c-gray__5}
	&.__text {
		&:after {content:@i-comment}
	}
	&.__email {
		&:after {content:@i-mail}
	}
	&.__number {
		&:after {content:@i-hash}
	}
	&.__date {
		&:after {content:@i-calendar}
	}
	&.__range {
		&:after {content:@i-gamepad}
	}
	&.__radio, &.__checkbox {
		cursor:pointer;
		&:before {.i();margin-right:0.75em;color:@c-azure}
		&:after {display:none}
		.formControl__label, .formControl__badge {}
		&:not(.__darked) .formControl__label {}
		&.__darked .formControl__label {font-weight:500}
		&:hover, &.__active {color:@c-azure}
	}
	&.__radio {
		&:before {line-height:1.25em}
		&:not(.__active) {
			&:before {content:@i-radio-unchecked}
		}
		&.__active {
			&:before {content:@i-radio-checked}
		}
	}
	&.__checkbox {
		&:before {line-height:1.25em}
		&:not(.__active) {
			&:before {content:@i-checkbox-unchecked}
		}
		&.__active {
			&:before {content:@i-checkbox-checked}
		}
	}
	&.__select {
		&:not(.__active) {
			&:after {content:@i-angle-down}
		}
		&.__active {
			&:after {content:@i-angle-up}
		}
	}
	&.__textarea {
		&:after {content:@i-comment}
	}
	&.__password {
		&:after {content:@i-textsms}
	}
	&.__color {
		&:after {content:@i-bookmark}
	}
	&.__datetime-local {
		&:after {content:@i-calendar}
	}
	&.__file {
		&:after {content:@i-cloud_upload}
	}
	&.__image {
		&:after {content:@i-cloud_upload}
	}
	&.__month {
		&:after {content:@i-calendar}
	}
	&.__tel {
		&:after {content:@i-gamepad}
	}
	&.__time {
		&:after {content:@i-watch_later}
	}
	&.__url {
		&:after {content:@i-earth}
	}
	&.__week {
		&:after {content:@i-calendar}
	}
	&.__select, &.__date, &.__datetime-local, &.__month, &.__time, &.__week, &.__number {
		&:after {}
	}
	&:not(.__radio):not(.__checkbox) {
		.formControl__label {order:1;padding-right:0.5em;padding-top:0.5em}
		&.__hasError, &.__hasSuccess, &.__hasIcon {
			// &:before {.i();width:0;position:relative;order:2;font-size:1.1em;line-height:1em;left:0.65em}
			// > input, > select, > textarea {padding-left:2.85em}
			// .formControl__label {order:1}
			// .formControl__badge {}
		}
		&.__hasError {
			color:@c-red;
			// &:before {content:@__notification}
			> input, > select, > textarea {border-color:@c-red}
		}
		&.__hasSuccess {
			color:@c-green;
			// &:before {content:@__checkmark}
			> input, > select, > textarea {border-color:@c-green}
		}
		// &.__hasError, &.__hasSuccess:before {top:0.75em}
		&.__hasIcon {
			align-items:center;
			&[data-icon]:before {content:attr(data-icon)}
		}
	}
	&.__box {
		border-radius:@s-br;padding:0.75em 0.5em;.no-wrap();
		&.__half {
			width:~'calc(50% - '(@s-bs*0.25)~')';float:left;margin-top:(@s-bs*0.5);
			&:nth-child(2n) {margin-left:(@s-bs*0.5)}
		}
		&:not(.__active) {
			border:1px solid @c-gray__2;
		}
		&.__active {
			border:1px solid @c-azure;
		}
		&.__radio, &.__checkbox {
			&:before {margin-right:0.5em}
		}
	}
	&.__available {font-weight:500}
	&.__xs {font-size:0.85em}
	&.__sm {font-size:1.2em}
	&.__md {font-size:1.3em}
	&.__lg {font-size:1.4em}
	&.__xl {font-size:1.5em}
	+ .btn {margin-top:1em}
}

.formControlRow {
	display:flex;
	.formControl, > .btn {}
	.formControl {
		flex:auto;
		+ .btn {}
	}
	.btn {}
	@media @lg-before {
		flex-wrap:wrap;
		.formControl, > .btn {width:100%}
		.formControl {
			+ .btn {}
		}
		.btn {}
	}
	@media @lg-after {
		.formControl, > .btn {}
		.formControl {
			+ .btn {margin-left:0.5em}
		}
		.btn {margin-top:0}
	}
}