@import './_variables.less';
@import './_mixins.less';

@font-face {
	font-family: 'icons';
	src:	url('../Fonts/icons.eot?c3hqvv');
	src:	url('../Fonts/icons.eot?c3hqvv#iefix') format('embedded-opentype'),
		url('../Fonts/icons.ttf?c3hqvv') format('truetype'),
		url('../Fonts/icons.woff?c3hqvv') format('woff'),
		url('../Fonts/icons.svg?c3hqvv#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@icons: i-bookmark @i-bookmark,
		i-mail @i-mail,
		i-move-horizontal-alt1 @i-move-horizontal-alt1,
		i-hash @i-hash,
		i-spinner8 @i-spinner8,
		i-earth @i-earth,
		i-warning @i-warning,
		i-notification @i-notification,
		i-question @i-question,
		i-play2 @i-play2,
		i-pause @i-pause,
		i-stop @i-stop,
		i-previous @i-previous,
		i-next @i-next,
		i-backward @i-backward,
		i-forward2 @i-forward2,
		i-checkbox-checked @i-checkbox-checked,
		i-checkbox-unchecked @i-checkbox-unchecked,
		i-radio-checked @i-radio-checked,
		i-radio-unchecked @i-radio-unchecked,
		i-floppy @i-floppy,
		i-mine @i-mine,
		i-control_point @i-control_point,
		i-cloud_upload @i-cloud_upload,
		i-cached @i-cached,
		i-comment @i-comment,
		i-delete_forever @i-delete_forever,
		i-directions_boat @i-directions_boat,
		i-sentiment_dissatisfied @i-sentiment_dissatisfied,
		i-sentiment_neutral @i-sentiment_neutral,
		i-sentiment_satisfied @i-sentiment_satisfied,
		i-textsms @i-textsms,
		i-view_quilt @i-view_quilt,
		i-watch_later @i-watch_later,
		i-th-menu @i-th-menu,
		i-grid @i-grid,
		i-tag @i-tag,
		i-calendar @i-calendar,
		i-cancel @i-cancel,
		i-cancel1 @i-cancel1,
		i-gamepad @i-gamepad,
		i-info @i-info,
		i-switch @i-switch,
		i-star @i-star,
		i-star-o @i-star-o,
		i-trophy @i-trophy,
		i-phone @i-phone,
		i-tasks @i-tasks,
		i-angle-left @i-angle-left,
		i-angle-right @i-angle-right,
		i-angle-up @i-angle-up,
		i-angle-down @i-angle-down,
		i-star-half-empty @i-star-half-empty,
		i-star-half-full @i-star-half-full,
		i-star-half-o @i-star-half-o,
		i-gumroad @i-gumroad,
		i-x-pack @i-x-pack;

.i {
  .i();
  .make_icons();
}