@font-face {
  font-family: 'icons';
  src: url('../Fonts/icons.eot?c3hqvv');
  src: url('../Fonts/icons.eot?c3hqvv#iefix') format('embedded-opentype'), url('../Fonts/icons.ttf?c3hqvv') format('truetype'), url('../Fonts/icons.woff?c3hqvv') format('woff'), url('../Fonts/icons.svg?c3hqvv#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.i {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i.__i-bookmark:before {
  content: "\e900";
}
.i.__i-mail:before {
  content: "\e901";
}
.i.__i-move-horizontal-alt1:before {
  content: "\e90d";
}
.i.__i-hash:before {
  content: "\e902";
}
.i.__i-spinner8:before {
  content: "\e981";
}
.i.__i-earth:before {
  content: "\e9ca";
}
.i.__i-warning:before {
  content: "\ea07";
}
.i.__i-notification:before {
  content: "\ea08";
}
.i.__i-question:before {
  content: "\ea09";
}
.i.__i-play2:before {
  content: "\ea15";
}
.i.__i-pause:before {
  content: "\ea16";
}
.i.__i-stop:before {
  content: "\ea17";
}
.i.__i-previous:before {
  content: "\ea18";
}
.i.__i-next:before {
  content: "\ea19";
}
.i.__i-backward:before {
  content: "\ea1a";
}
.i.__i-forward2:before {
  content: "\ea1b";
}
.i.__i-checkbox-checked:before {
  content: "\ea52";
}
.i.__i-checkbox-unchecked:before {
  content: "\ea53";
}
.i.__i-radio-checked:before {
  content: "\ea54";
}
.i.__i-radio-unchecked:before {
  content: "\ea56";
}
.i.__i-floppy:before {
  content: "\e90e";
}
.i.__i-mine:before {
  content: "\e903";
}
.i.__i-control_point:before {
  content: "\e3ba";
}
.i.__i-cloud_upload:before {
  content: "\e2c3";
}
.i.__i-cached:before {
  content: "\e86a";
}
.i.__i-comment:before {
  content: "\e0b9";
}
.i.__i-delete_forever:before {
  content: "\e92b";
}
.i.__i-directions_boat:before {
  content: "\e532";
}
.i.__i-sentiment_dissatisfied:before {
  content: "\e811";
}
.i.__i-sentiment_neutral:before {
  content: "\e812";
}
.i.__i-sentiment_satisfied:before {
  content: "\e813";
}
.i.__i-textsms:before {
  content: "\e0d8";
}
.i.__i-view_quilt:before {
  content: "\e8f1";
}
.i.__i-watch_later:before {
  content: "\e924";
}
.i.__i-th-menu:before {
  content: "\e904";
}
.i.__i-grid:before {
  content: "\e905";
}
.i.__i-tag:before {
  content: "\e90f";
}
.i.__i-calendar:before {
  content: "\e906";
}
.i.__i-cancel:before {
  content: "\e907";
}
.i.__i-cancel1:before {
  content: "\e908";
}
.i.__i-gamepad:before {
  content: "\e909";
}
.i.__i-info:before {
  content: "\e90a";
}
.i.__i-switch:before {
  content: "\e910";
}
.i.__i-star:before {
  content: "\f005";
}
.i.__i-star-o:before {
  content: "\f006";
}
.i.__i-trophy:before {
  content: "\f091";
}
.i.__i-phone:before {
  content: "\f095";
}
.i.__i-tasks:before {
  content: "\f0ae";
}
.i.__i-angle-left:before {
  content: "\f104";
}
.i.__i-angle-right:before {
  content: "\f105";
}
.i.__i-angle-up:before {
  content: "\f106";
}
.i.__i-angle-down:before {
  content: "\f107";
}
.i.__i-star-half-empty:before {
  content: "\f123";
}
.i.__i-star-half-full:before {
  content: "\f123";
}
.i.__i-star-half-o:before {
  content: "\f123";
}
.i.__i-gumroad:before {
  content: "\e90b";
}
.i.__i-x-pack:before {
  content: "\e90c";
}
/*# sourceMappingURL=Icons.css.map */