@import './_variables.less';
@import './_mixins.less';

#body {display:flex;flex-direction:column}
#header {
	box-shadow:0 0 @s-bs lighten(@c-black, 40%);
	&__container {
		display:flex;
		> button, > a {margin:0;padding:0;border:none;cursor:pointer}
	}
	&__menuButton, &__phoneButton, &__logo {
		background:transparent;
		&:before {.i()}
	}
	&__menuButton, &__phoneButton {
		&:before {font-size:18px}
	}
	&__menuButton {
		&:before {content:@i-th-menu}
	}
	&__logo {
		flex:auto;text-align:center;text-decoration:none;color:@c-azure;font-size:20px;
		&:before {.i__logo()}
	}
	&__phoneButton {
		&:before {content:@i-phone}
	}
	@media @lg-before {
		position:fixed;top:0;left:0;right:0;z-index:999;
		&__menuButton, &__phoneButton {width:@s-bs*2;height:@s-bs*2}
	}
	@media @lg-after {
		&__menuButton, &__phoneButton {width:@s-bs*3;height:@s-bs*3;background-size:@s-bs*1.5}
	}
}
#content {
	flex:auto;
	@media @lg-before {
		margin-top:@s-bs*4
	}
	@media @lg-after {
	}
}
#footer {}
#header, #footer {padding:@s-bs 0;background:@c-white}
#header, #footer, #content {}


@import './_headerMenu.less';