#body {
  display: flex;
  flex-direction: column;
}
#header {
  box-shadow: 0 0 12px #999999;
}
#header__container {
  display: flex;
}
#header__container > button,
#header__container > a {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
#header__menuButton,
#header__phoneButton,
#header__logo {
  background: transparent;
}
#header__menuButton:before,
#header__phoneButton:before,
#header__logo:before {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header__menuButton:before,
#header__phoneButton:before {
  font-size: 18px;
}
#header__menuButton:before {
  content: "\e904";
}
#header__logo {
  flex: auto;
  text-align: center;
  text-decoration: none;
  color: #00aeef;
  font-size: 20px;
}
#header__logo:before {
  content: "\e909";
}
#header__phoneButton:before {
  content: "\f095";
}
@media (max-width: 1199px ) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  #header__menuButton,
  #header__phoneButton {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1200px ) {
  #header__menuButton,
  #header__phoneButton {
    width: 36px;
    height: 36px;
    background-size: 18px;
  }
}
#content {
  flex: auto;
}
@media (max-width: 1199px ) {
  #content {
    margin-top: 48px;
  }
}
#header,
#footer {
  padding: 12px 0;
  background: #fff;
}
.headerMenu a {
  text-decoration: none;
  color: #333;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.headerMenu__menu {
  margin: 0 -12px;
  padding: 0;
  list-style: none;
}
.headerMenu__item {
  padding: 0.65em 12px;
  font-weight: 500;
}
.headerMenu__item:before {
  color: #797979;
  margin-right: 0.75em;
  display: inline-block;
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  position: relative;
  top: 0.05em;
}
.headerMenu__item.__sapper:before {
  content: "\e903";
}
.headerMenu__item.__sudoku:before {
  content: "\e905";
}
.headerMenu__item.__worm:before {
  content: "\e90b";
}
.headerMenu__item.__zerox:before {
  content: "\e90c";
}
.headerMenu__item.__warships:before {
  content: "\e532";
}
.headerMenu__item.__todolist:before {
  content: "\f0ae";
}
.headerMenu__item:hover:before {
  color: #00aeef;
}
.headerMenu__langs {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}
.headerMenu__langs:before {
  content: "\e9ca";
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  margin-right: 0.25em;
}
.headerMenu__langs > li:not(:nth-child(1)) {
  border-left: 1px solid #e6e6e6;
}
.headerMenu__langs > li > a,
.headerMenu__langs > li > button {
  padding: 6px 12px;
}
.headerMenu a,
.headerMenu button {
  cursor: pointer;
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}
.headerMenu__link {
  padding: 12px 0;
}
.CallBackModal {
  text-align: center;
}
.CallBackModal__phone {
  font-weight: 100;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  display: block;
  color: #333;
  text-decoration: none;
}
/*# sourceMappingURL=layout.css.map */