.Lazy {
  display: block;
  background: url('../Images/loader.svg') no-repeat center #e6e6e6;
  background-size: 50px;
}
.Lazy:not(.__loaded) {
  padding-top: 66%;
}
/*# sourceMappingURL=Lazy.css.map */