@import './_variables.less';
@import './_mixins.less';

:root {
    --c-black:@c-black;
    --c-white:@c-white;
    --c-gray__1:@c-gray__1;
    --c-gray__2:@c-gray__2;
    --c-gray__3:@c-gray__3;
    --c-gray__4:@c-gray__4;
    --c-gray__5:@c-gray__5;
    --c-gold:@c-gold;
    --c-red:@c-red;
    --c-azure:@c-azure;
    --c-green:@c-green;
    --c-pink:@c-pink;
    --s-bs:@s-bs;
    --s-br:@s-br;
    --s:@s;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'),
      url('../Fonts/roboto-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
      url('../Fonts/roboto-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto'), local('Roboto'),
      url('../Fonts/roboto-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'),
      url('../Fonts/roboto-regularitalic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('../Fonts/roboto-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../Fonts/roboto-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'),
      url('../Fonts/roboto-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}

body {font-family:'Roboto',sans-serif;font-size:@s;font-weight:400;padding:0;margin:0}
* {box-sizing:border-box;outline:none}

*[hidden] {display:none!important}

body *, body *:before, body *:after {
    box-sizing: inherit;
}

ul, ol {margin:0.5em;padding-left:1em}

@import './__titles.less';
@import './__grid.less';
@import './__btn.less';
@import './__stars.less';
@import './__ShadowPanel.less';
