.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.Modal__darker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(51, 51, 51, 0.85);
}
.Modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transform: translateY(-50%) translateX(-50%);
}
.Modal__container__closer {
  text-align: right;
  color: #fff;
  font-size: 1.5em;
  padding: 0.25em 0;
  cursor: pointer;
}
.Modal__container__closer:after {
  content: "\e907";
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Modal__container__content {
  flex: auto;
  overflow: auto;
  background: #fff;
  padding: 12px;
  border-radius: 3px;
}
.Modal.__xs .Modal__container {
  max-width: 296px;
}
.Modal.__sm .Modal__container {
  max-width: 528px;
}
.Modal.__md .Modal__container {
  max-width: 848px;
}
.Modal.__lg .Modal__container {
  max-width: 1008px;
}
.Modal.__xl .Modal__container {
  max-width: 1174px;
}
/*# sourceMappingURL=Modal.css.map */