@import './_variables.less';
@import './_mixins.less';

.Modal {
	position:fixed;top:0;left:0;right:0;bottom:0;z-index:999;
	&__darker {position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;background:@c-darkers}
	&__container {
		position:absolute;top:50%;left:50%;max-height:80%;width:80%;display:flex;flex-direction:column;z-index:2;transform:translateY(-50%)translateX(-50%);
		&__closer {
			text-align:right;color:@c-white;font-size:1.5em;padding:0.25em 0;cursor:pointer;
			&:after {content:@i-cancel;.i()}
		}
		&__content {flex:auto;overflow:auto;background:@c-white;padding:@s-bs;border-radius:@s-br}
	}
	&.__xs {
		.Modal__container {max-width:@s-xs - (@s-bs*2)}
	}
	&.__sm {
		.Modal__container {max-width:@s-sm - (@s-bs*4)}
	}
	&.__md {
		.Modal__container {max-width:@s-md - (@s-bs*10)}
	}
	&.__lg {
		.Modal__container {max-width:@s-lg - (@s-bs*16)}
	}
	&.__xl {
		.Modal__container {max-width:@s-xl - (@s-bs*16)}
	}
}