.Pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  user-select: none;
}
.Pagination__item {
  text-align: center;
  border: 1px solid #e6e6e6;
  display: flex;
}
.Pagination__item:not(:nth-child(1)) {
  border-left: none;
}
.Pagination__item:nth-child(1),
.Pagination__item:nth-last-child(1) {
  flex: auto;
}
.Pagination__item:nth-child(1) {
  text-align: right;
  border-radius: 3px 0 0 3px;
}
.Pagination__item:nth-last-child(1) {
  text-align: left;
  border-radius: 0 3px 3px 0;
}
.Pagination__item > a {
  cursor: pointer;
  color: #00aeef;
}
.Pagination__item > a,
.Pagination__item > input {
  display: block;
  padding: 12px/2 12px;
  border: none;
  margin: 0;
  width: 100%;
  outline: none;
}
.Pagination__item > input {
  min-width: 100px;
}
.Pagination__item.__active > a {
  background: #00aeef;
  color: #fff;
}
.Pagination__item.__disabled > a {
  cursor: not-allowed;
  color: #e6e6e6;
}
/*# sourceMappingURL=Pagination.css.map */