@import './_variables.less';
@import './_mixins.less';

.Pagination {
	list-style:none;margin:0;padding:0;display:flex;user-select:none;
	&__item {
		text-align:center;border:1px solid @c-gray__1;display:flex;
		&:not(:nth-child(1)) {border-left:none}
		&:nth-child(1), &:nth-last-child(1) {flex:auto}
		&:nth-child(1) {text-align:right;border-radius:@s-br 0 0 @s-br}
		&:nth-last-child(1) {text-align:left;border-radius:0 @s-br @s-br 0}
		> a {
			cursor:pointer;color:@c-azure;
		}
		> a, > input {display:block;padding:@s-bs/2 @s-bs;border:none;margin:0;width:100%;outline:none}
		> input {min-width:100px}
		&.__active {
			> a {background:@c-azure;color:@c-white}
		}
		&.__disabled {
			> a {cursor:not-allowed;color:@c-gray__1;}
		}
	}
}