@import './_variables.less';
@import './_mixins.less';

#container {padding:@s-bs;position:relative}
h1 {
	text-align:center;display:flex;align-items:center;justify-content:center;
	button {margin-left:@s-bs * 2}
}
.item {
	float:left;position:relative;padding:0.5px;border-radius:@s-br;overflow:hidden;.i();
	> div {
		&:nth-child(1) {padding-top:100%;position:relative;z-index:2}
		&:nth-child(2) {position:absolute;z-index:1;top:50%;left:50%;transform:translateY(-50%)translateX(-50%)}
	}
}
.finalMsg {position:fixed;top:50%;left:0;right:0;padding:@s-bs;color:@c-white;z-index:9;text-align:center;transform:translateY(-50%)}
