#container {
  padding: 12px;
  position: relative;
}
h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 button {
  margin-left: 24px;
}
.item {
  float: left;
  position: relative;
  padding: 0.5px;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.item > div:nth-child(1) {
  padding-top: 100%;
  position: relative;
  z-index: 2;
}
.item > div:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.finalMsg {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  padding: 12px;
  color: #fff;
  z-index: 9;
  text-align: center;
  transform: translateY(-50%);
}
/*# sourceMappingURL=Sapper.css.map */