.Sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.Sidebar.__left .Sidebar__container {
  left: 0;
}
.Sidebar.__right .Sidebar__container {
  right: 0;
}
.Sidebar__darker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.85);
  z-index: 1;
  cursor: pointer;
}
.Sidebar__container {
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  min-width: 270px;
  width: 70%;
  max-width: 330px;
  z-index: 2;
  box-shadow: 0 0 12px rgba(51, 51, 51, 0.85);
}
.Sidebar__container__header,
.Sidebar__container__body,
.Sidebar__container__footer {
  padding: 12px;
}
.Sidebar__container__header {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  cursor: pointer;
}
.Sidebar__container__header > span {
  flex: auto;
  font-weight: 500;
}
.Sidebar__container__header:after {
  content: "\e908";
  color: #bbbbbb;
  display: block;
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3em;
}
.Sidebar__container__body {
  flex: auto;
  overflow-y: auto;
}
.Sidebar__container__footer {
  border-top: 1px solid #e6e6e6;
}
/*# sourceMappingURL=Sidebar.css.map */