@import './_variables.less';
@import './_mixins.less';

.Sidebar {
	position:fixed;top:0;bottom:0;left:0;right:0;z-index:999;
	&.__left .Sidebar__container {left:0}
	&.__right .Sidebar__container {right:0}
	&__darker {position:absolute;top:0;left:0;right:0;bottom:0;background:@c-darkers;z-index:1;cursor:pointer}
	&__container {
		display:flex;flex-direction:column;background:@c-white;position:absolute;top:0;bottom:0;white-space:nowrap;min-width:270px;width:70%;max-width:330px;z-index:2;box-shadow:0 0 @s-bs @c-darkers;
		&__header, &__body, &__footer {padding:@s-bs}
		&__header {
			border-bottom:1px solid @c-gray__1;display:flex;cursor:pointer;
			> span {flex:auto;font-weight:500}
			&:after {content:@i-cancel1;color:@c-gray__3;display:block;.i();font-size:1.3em}
		}
		&__body {
			flex:auto;overflow-y:auto;
		}
		&__footer {
			border-top:1px solid @c-gray__1;
		}
	}
}