@import './_variables.less';
@import './_mixins.less';

.Sudoku {
	display:flex;flex-direction:column;max-width:600px;margin:0 auto;aspect-ratio:1/1;
	&__header, &__footer {
		&:not(:empty) {padding:@s-bs}
	}
	&__header {}
	&__footer {
		display:flex;
	}
	&__container {
		display:grid;grid-template-columns:repeat(9, 1fr);grid-template-rows:repeat(9, 1fr);padding:2px;grid-gap:1px 1px;background:@c-black;
		&:empty {display:none}
		> label {
			display:flex;position:relative;align-items:center;
			&:before {content:"";display:block;padding-top:100%}
			&, > input {background:@c-white;margin:0}
			> input {
				padding:25% 0;font-size:1.5em;border:none;color:@c-black;position:absolute;top:50%;left:0;right:0;transform:translateY(-50%);width:100%;text-align:center;-webkit-appearance:none!important;-moz-appearance:none!important;appearance:none!important;height:100%;
				&.hasError {color:red}
			}
			&:nth-child(3n) {margin-right:1px}
			&:nth-child(27n), &:nth-child(27n-1), &:nth-child(27n-2), &:nth-child(27n-3), &:nth-child(27n-4), &:nth-child(27n-5), &:nth-child(27n-6), &:nth-child(27n-7), &:nth-child(27n-8) {margin-bottom:1px}
		}
	}
	&__errors, &__goods, &__generated, &__filled {margin:0 @s-bs/2}
	&__errors {
		color:@c-red;
		&:before {content:'Errors: '}
	}
	&__goods {
		color:@c-green;
		&:before {content:'Goods: '}
	}
	&__generated {
		color:@c-gold;
		&:before {content:'Generated: '}
	}
	&__filled {
		color:@c-pink;
		&:before {content:'Filled: '}
	}
}