.Sudoku {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
.Sudoku__header:not(:empty),
.Sudoku__footer:not(:empty) {
  padding: 12px;
}
.Sudoku__footer {
  display: flex;
}
.Sudoku__container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding: 2px;
  grid-gap: 1px 1px;
  background: #333;
}
.Sudoku__container:empty {
  display: none;
}
.Sudoku__container > label {
  display: flex;
  position: relative;
  align-items: center;
}
.Sudoku__container > label:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.Sudoku__container > label,
.Sudoku__container > label > input {
  background: #fff;
  margin: 0;
}
.Sudoku__container > label > input {
  padding: 25% 0;
  font-size: 1.5em;
  border: none;
  color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  height: 100%;
}
.Sudoku__container > label > input.hasError {
  color: red;
}
.Sudoku__container > label:nth-child(3n) {
  margin-right: 1px;
}
.Sudoku__container > label:nth-child(27n),
.Sudoku__container > label:nth-child(27n-1),
.Sudoku__container > label:nth-child(27n-2),
.Sudoku__container > label:nth-child(27n-3),
.Sudoku__container > label:nth-child(27n-4),
.Sudoku__container > label:nth-child(27n-5),
.Sudoku__container > label:nth-child(27n-6),
.Sudoku__container > label:nth-child(27n-7),
.Sudoku__container > label:nth-child(27n-8) {
  margin-bottom: 1px;
}
.Sudoku__errors,
.Sudoku__goods,
.Sudoku__generated,
.Sudoku__filled {
  margin: 0 12px/2;
}
.Sudoku__errors {
  color: #ee2316;
}
.Sudoku__errors:before {
  content: 'Errors: ';
}
.Sudoku__goods {
  color: #62bb00;
}
.Sudoku__goods:before {
  content: 'Goods: ';
}
.Sudoku__generated {
  color: #ffb500;
}
.Sudoku__generated:before {
  content: 'Generated: ';
}
.Sudoku__filled {
  color: #ee2080;
}
.Sudoku__filled:before {
  content: 'Filled: ';
}
/*# sourceMappingURL=Sudoku.css.map */