.ToDoList {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 80vh;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 12px rgba(51, 51, 51, 0.15);
}
.ToDoList__header {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}
.ToDoList__header > button,
.ToDoList__header > input {
  padding: 12px;
  background: transparent;
  border: none;
  margin: 0;
}
.ToDoList__header > button {
  cursor: pointer;
}
.ToDoList__header > input {
  flex: auto;
}
.ToDoList__sidebar {
  grid-column: 1;
  grid-row: 2;
  border-right: 1px solid #e6e6e6;
}
.ToDoList__sidebar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ToDoList__sidebar > ul > li:not(:nth-child(1)) {
  border-top: 1px solid #e6e6e6;
}
.ToDoList__sidebar > ul > li,
.ToDoList__sidebar > ul > li li,
.ToDoList__sidebar > ul > li button {
  display: block;
  width: 100%;
}
.ToDoList__sidebar > ul > li button {
  border: none;
  margin: 0;
  padding: 12px;
  color: #00aeef;
  text-align: left;
  background: transparent;
}
.ToDoList__sidebar > ul > li ul {
  list-style: none;
  padding: 0 0 0 18px;
  margin: 0;
  background-image: -webkit-linear-gradient(90deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0));
  background-image: -moz-linear-gradient(90deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0));
  background-image: -ms-linear-gradient(90deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0));
  background-image: -o-linear-gradient(90deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0));
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0));
}
.ToDoList__body {
  grid-column: 2;
  grid-row: 2;
  padding: 12px;
  position: relative;
}
.ToDoList__footer {
  grid-column: 1/3;
  grid-row: 3;
  padding: 12px;
  border-top: 1px solid #e6e6e6;
}
.ToDoList:not(.__showSidebar) {
  grid-template-columns: 0px 1fr;
}
.ToDoList.__showSidebar {
  grid-template-columns: 200px 1fr;
}
.ToDoList.__showSidebar .ToDoList__header > button {
  background: #e6e6e6;
}
.ToDoList.__showSidebar .ToDoList__body {
  opacity: 0.5;
}
.ToDoList.__showSidebar .ToDoList__body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(51, 51, 51, 0.75);
}
/*# sourceMappingURL=ToDoList.css.map */