@import './_variables.less';
@import './_mixins.less';

.ToDoList {
	display:grid;grid-template-rows:auto 1fr auto;min-height:80vh;border:1px solid @c-gray__1;border-radius:@s-br;overflow:hidden;background:@c-white;box-shadow:0 0 @s-bs fade(@c-black, 15%);
	&__header {
		grid-column:~'1/3';grid-row:1;display:flex;border-bottom:1px solid @c-gray__1;
		> button, > input {padding:@s-bs;background:transparent;border:none;margin:0}
		> button {cursor:pointer}
		> input {flex:auto}
	}
	&__sidebar {
		grid-column:1;grid-row:2;border-right:1px solid @c-gray__1;
		> ul {
			.ulDisable();
			> li {
				&:not(:nth-child(1)) {border-top:1px solid @c-gray__1}
				&, li, button {display:block;width:100%}
				button {border:none;margin:0;padding:@s-bs;color:@c-azure;text-align:left;background:transparent}
				ul {list-style:none;padding:0 0 0 @s-bs*1.5;margin:0;.gradient(linear; fade(@c-black, 5%), fade(@c-black, 0%))}
			}
		}
	}
	&__body {grid-column:2;grid-row:2;padding:@s-bs;position:relative}
	&__footer {grid-column:~'1/3';grid-row:3;padding:@s-bs;border-top:1px solid @c-gray__1}
	&:not(.__showSidebar) {
		grid-template-columns:0px 1fr;
		.ToDoList {
			&__header {}
			&__sidebar {}
			&__body {}
			&__footer {}
		}
	}
	&.__showSidebar {
		grid-template-columns:200px 1fr;
		.ToDoList {
			&__header {
				> button {background:@c-gray__1}
			}
			&__sidebar {}
			&__body {
				opacity:0.5;
				&:before {content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:999;background:fade(@c-black, 75%)}
			}
			&__footer {}
		}
	}
}