@import './_variables.less';
@import './_mixins.less';

.Tron {
	display:flex;
	&__header {}
	&__body {
		flex:auto;background:fade(@c-black, 10%);display:flex;flex-wrap:wrap;position:relative;
		> div {
			border:1px solid @c-white;
			&:before {content:"";display:block;padding-top:100%}
			&[player="A"] {background:@c-red}
			&[player="B"] {background:@c-azure}
		}
		> span {position:absolute;top:50%;left:0;right:0;transform:translateY(-50%);padding:@s-bs;color:@c-white;display:block;text-align:center}
		> button {
			position:absolute;border:none;margin:0;padding:0;background:transparent;display:block;z-index:1;
			&.__left, &.__right {top:0;bottom:0;width:50%;height:100%}
			&.__left {left:0;right:50%}
			&.__right {right:0;left:50%}
			&.__up, &.__down {left:0;right:0;width:100%;height:50%}
			&.__up {top:0;bottom:50%}
			&.__down {bottom:0;top:50%}
			&:hover {background:fade(yellow, 20%)}
		}
	}
}