.Tron {
  display: flex;
}
.Tron__body {
  flex: auto;
  background: rgba(51, 51, 51, 0.1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.Tron__body > div {
  border: 1px solid #fff;
}
.Tron__body > div:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.Tron__body > div[player="A"] {
  background: #ee2316;
}
.Tron__body > div[player="B"] {
  background: #00aeef;
}
.Tron__body > span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 12px;
  color: #fff;
  display: block;
  text-align: center;
}
.Tron__body > button {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  display: block;
  z-index: 1;
}
.Tron__body > button.__left,
.Tron__body > button.__right {
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
.Tron__body > button.__left {
  left: 0;
  right: 50%;
}
.Tron__body > button.__right {
  right: 0;
  left: 50%;
}
.Tron__body > button.__up,
.Tron__body > button.__down {
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
}
.Tron__body > button.__up {
  top: 0;
  bottom: 50%;
}
.Tron__body > button.__down {
  bottom: 0;
  top: 50%;
}
.Tron__body > button:hover {
  background: rgba(255, 255, 0, 0.2);
}
/*# sourceMappingURL=Tron.css.map */