@import './_variables.less';
@import './_mixins.less';

.WarShips {
	display:flex;
	&__field {
		display:grid;grid-template-columns:repeat(10, auto);grid-template-rows:repeat(10, auto);width:100%;grid-gap:1px;background:@c-azure;padding:1px;
		> button {
			margin:0;padding:0;border:none;background:transparent;
			&:before {content:"";display:block;padding-top:100%}
			&[value="false"] {background:@c-white}
			&[value="true"] {background:@c-gold}
		}
	}
}