.WarShips {
  display: flex;
}
.WarShips__field {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  width: 100%;
  grid-gap: 1px;
  background: #00aeef;
  padding: 1px;
}
.WarShips__field > button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}
.WarShips__field > button:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.WarShips__field > button[value="false"] {
  background: #fff;
}
.WarShips__field > button[value="true"] {
  background: #ffb500;
}
/*# sourceMappingURL=WarShips.css.map */