@import './_variables.less';
@import './_mixins.less';

#Worm {
	display:block;border:1px solid @c-black;height:auto;overflow:hidden;position:relative;max-width:600px;margin:0 auto;
	& > div {
		float:left;
		&:before, &:after {content:'';display:block}
		&:before {padding-top:100%}
		&.__worm {background:@c-red}
		&.__fruit {
			background:@c-green;border-radius:50%;position:relative;
			&:after {transform:scale(2);.animation(Worm__fruit__animation 0.5s linear infinite);position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;border:0.5px solid @c-green;border-radius:50%}
		}
	}
	& > span {position:absolute;z-index:2;top:50%;left:0;right:0;padding:@s-bs;background:@c-green;color:@c-white;text-align:center}
	& > button {
		position:absolute;z-index:1;background:transparent;border:none;margin:0;padding:0;display:block;
		&:nth-child(1), &:nth-child(2) {left:0;right:0;width:100%;height:50%}
		&:nth-child(1) {top:0;bottom:50%}
		&:nth-child(2) {bottom:0;top:50%}
		&:nth-child(3), &:nth-child(4) {top:0;bottom:0;width:50%;height:100%}
		&:nth-child(3) {left:0;right:50%}
		&:nth-child(4) {right:0;left:50%}
		&:hover {background:rgba(255,255,255,0.1)}
		&:active {background:rgba(255,0,255,0.1)}
	}
}

.keyframes(Worm__fruit__animation; {
	0% {opacity:0}
	100% {opacity:1}
	});