#Worm {
  display: block;
  border: 1px solid #333;
  height: auto;
  overflow: hidden;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#Worm > div {
  float: left;
}
#Worm > div:before,
#Worm > div:after {
  content: '';
  display: block;
}
#Worm > div:before {
  padding-top: 100%;
}
#Worm > div.__worm {
  background: #ee2316;
}
#Worm > div.__fruit {
  background: #62bb00;
  border-radius: 50%;
  position: relative;
}
#Worm > div.__fruit:after {
  transform: scale(2);
  animation: Worm__fruit__animation 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 0.5px solid #62bb00;
  border-radius: 50%;
}
#Worm > span {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  padding: 12px;
  background: #62bb00;
  color: #fff;
  text-align: center;
}
#Worm > button {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
#Worm > button:nth-child(1),
#Worm > button:nth-child(2) {
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
}
#Worm > button:nth-child(1) {
  top: 0;
  bottom: 50%;
}
#Worm > button:nth-child(2) {
  bottom: 0;
  top: 50%;
}
#Worm > button:nth-child(3),
#Worm > button:nth-child(4) {
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
#Worm > button:nth-child(3) {
  left: 0;
  right: 50%;
}
#Worm > button:nth-child(4) {
  right: 0;
  left: 50%;
}
#Worm > button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#Worm > button:active {
  background: rgba(255, 0, 255, 0.1);
}
@keyframes Worm__fruit__animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Worm.css.map */