#ZeroX {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
#ZeroX > div {
  cursor: pointer;
  text-align: center;
  line-height: 0;
}
#ZeroX > div:before,
#ZeroX > div:empty:after {
  content: '';
  display: block;
  padding-top: 50%;
}
#ZeroX > div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(7)) {
  border-left: 1px solid #333;
}
#ZeroX > div:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  border-top: 1px solid #333;
}
#ZeroX > span {
  display: block;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  transform: translateY(-50%);
  border: none !important;
}
/*# sourceMappingURL=ZeroX.css.map */