@import './_variables.less';
@import './_mixins.less';

#ZeroX {
	display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:1fr 1fr 1fr;position:relative;max-width:300px;margin:0 auto;aspect-ratio:1/1;
	& > div {
		cursor:pointer;text-align:center;line-height:0;
		&:before, &:empty:after {content:'';display:block;padding-top:50%}
		&:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(7)) {border-left:1px solid @c-black}
		&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {border-top:1px solid @c-black}
	}
	& > span {display:block;padding:@s-bs;position:absolute;top:50%;left:0;right:0;text-align:center;color:@c-white;transform:translateY(-50%);border:none!important}
}